.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-height: 600px;
  height: 40vh;
  min-height: 200px;
  width: 400px;
  position: relative;
  margin: 0 auto;
  padding: 24px 36px;
  overflow-y: scroll;
  background-color: #fff;
}
