.title {
  font-size: 30;
  font-weight: 700;
  text-align: center;
  margin-bottom: 36px;
}

.description {
  margin-bottom: 24px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.close-btn {
  padding: 3px 6px;
}
